upstream uwsgi {
        server unix:/opt/category_subcategory/uwsgi/uwsgi.sock;
}

server {
        listen 80;
        server_name _;

        access_log /opt/category_subcategory/logs/access.log;
        error_log /opt/category_subcategory/logs/error.log;

        charset utf-8;
        client_max_body_size 16M;

        location /static {
                alias /opt/category_subcategory/static;
        }

        location /media {
                alias /opt/category_subcategory/media;
        }

        location / {
                uwsgi_pass uwsgi;
                include uwsgi_params;
                uwsgi_read_timeout 300s;
                uwsgi_send_timeout 300s;
        }
}
